<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% for message in form.querytext.errors %}
            <div>{{ message }}</div>
        {% endfor %}

        <form action="{{ url_for('query') }}" method="post">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>{{ title }}</legend>
                <br>

                {{ form.querytext.label }}
                {{ form.querytext }}
                <br>

                {{ form.submit }}

                {% if answer != '' %}
                    <p>{{ answer }}</p>
                {% endif %}
            </fieldset>
        </form>
    </body>
</html>